<form {{action 'save' on='submit'}}>
  <div class="form-group">
    <label for="author">Name:</label>
    {{input value=author type="text" required="required"}}
  </div>
  <div class="form-group">
    <label for="content">Question:</label>
    {{input value=content type="text" required="required"}}
  </div>
  <div class="form-group">
    <label for="notes">Additional Notes:</label>
    {{input value=notes type="text" required="required"}}
  </div>
</form>
