{{#if loggedIn.signedIn}}
  <button type="button" class="btn" {{action 'signOut'}}>Logout</button>
{{else}}
  <form {{action 'signIn' on='submit'}}>
    <div class="form-group">
      <label for="name">Name:</label>
      {{input value=name required="required" class="form-control"}}
    </div>
    <button type="submit" class="btn">Login</button>
  </form>
{{/if}}
