body {
  margin-top: 7%;
}

.btn {
  background-color: white;
  border: 2px solid black;
}

.navbar h2 {
  text-align: center;
  color: cornsilk;
}

i:hover {
  cursor: pointer;
  color: crimson;
}

#ask {
  display: block;
  margin-right: 7%;
  background-color: white;
  border: 2px solid black;
  font-size: 150%;
  font-weight: bold;
}

#ask:hover {
  background-color: black;
  color: cornsilk;
}

#loginCall {
  color: orangered;
}
