<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-left">
      {{#link-to 'index'}}Home{{/link-to}}
      {{#link-to 'question'}}Questions{{/link-to}}
    </div>
    <h3>Give Me An Answer!</h3>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
