<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-left">
      {{#link-to 'index'}}Home{{/link-to}}
    </div>
    <h2>Give Me An Answer!</h2>
  </div>
</div>
<div class="container">
  {{outlet}}
</div>
