<h1>Questions and Answers
  <button id="ask" class="btn pull-right" {{action 'showNewQuestion'}}>Ask A Question!</button>
</h1>

{{#each model as |question|}}
  <div class="well">
    {{question-list question=question}}
  </div>
{{/each}}

{{new-question save="saveQuestion"}}
