<h1>Questions and Answers</h1>
<div class="row">
  <div class="col-md-8">
    {{#each model as |question|}}
      <div class="well">
        {{question-list question=question}}
      </div>
    {{/each}}
  </div>
  <div class="col-md-4">
    {{key-definitions}}
    {{new-question save="saveQuestion"}}
  </div>
</div>
